.sr {
    display: flex;
    /* flex-wrap: wrap; */
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    
  }

.sr:hover {
    opacity: 0.8;
}

.sr > img {
    height: 100%;
    width: 100%;
    min-height: 1px;
    border-radius: 10px;
    display: inline-block;
    /* overflow: hidden; */
}

.sr_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.sr_fav {
    position: absolute;
    top: 20px;
    right: 40px;
}

.sr_top {
    width: 40vw;
}

.sr_top > h3 {
    font-weight: 50;
    font-size: medium;
    color: black;
    /* margin-top: 3px; */
}

.sr_top > p {
    margin-top: 2px;
    font-size: 10px;
    color: gray;
  }
  
.sr_bot {
    display: flex;
    justify-content: space-between;
}


.sr_star {
    color: red;
}

.sr_stars > p{
    font-size: x-small;
}


.sr_stars {
    display: flex;
    align-items: center;
    float: left;
}

.sr_price > p, .sr_price > b {
    text-align: right;
    font-size: small;
  }

.sr_price {
    position: absolute;
    bottom: 5px;
    right: 30px;
    float: right;
}



  